.navbar{

    height:80px;

    width:100%;

    position:fixed;

    top:0;

    left:0;

    background:rgba(13,17,23,.9);

    backdrop-filter:blur(15px);

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 60px;

    border-bottom:1px solid var(--border);

    z-index:999;

}

.logo{

    font-size:28px;

    font-weight:700;

}

.logo span{

    color:var(--blue);

}

.nav-links{

    display:flex;

    gap:40px;

    list-style:none;

}

.nav-links a{

    color:var(--grey);

    transition:.3s;

}

.nav-links a:hover{

    color:var(--white);

}