.terminal{

    display:flex;

    justify-content:center;

    align-items:center;

}

.terminal-window{

    width:100%;

    max-width:1200px;

    background:#0b0f14;

    border:1px solid var(--border);

    border-radius:18px;

    overflow:hidden;

    box-shadow:var(--shadow);

}

.terminal-header{

    height:55px;

    background:#161b22;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 20px;

    border-bottom:1px solid var(--border);

}

.terminal-buttons{

    display:flex;

    gap:10px;

}

.red,
.yellow,
.green{

    width:13px;

    height:13px;

    border-radius:50%;

}

.red{

    background:#ff5f57;

}

.yellow{

    background:#febc2e;

}

.green{

    background:#28c840;

}

.terminal-header p{

    color:var(--grey);

    font-size:14px;

}

.terminal-body{

    min-height:500px;

    padding:35px;

    display:flex;

    flex-direction:column;

    font-family:"JetBrains Mono", monospace;

}

.line{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:15px;

}

#terminal-output{

    flex:1;

    overflow-y:auto;

    margin-bottom:20px;

}

.output-line{

    margin-bottom:12px;

    margin-left: 24px; 

    white-space:pre-wrap;

    line-height:1.8;


}

.terminal-input-line{

    display:flex;

    align-items:center;

    gap:12px;

    padding: 10px;

}

.prompt{

    color:var(--blue);

    white-space:nowrap;

}
#terminal-input{

    flex:1;

    background:none;

    border:none;

    outline:none;

    color:#3FB950;

    font-family:inherit;

    font-size:17px;
    /* padding: 12px; */
    

}

.terminal-output{

    display:flex;

    align-items:flex-start;

    gap:14px;

}

.output-icon{

    color:var(--blue);

    font-weight:bold;

    user-select:none;

    margin-top:2px;

}

.output-text{

    color:inherit;

    line-height:1.8;

    flex:1;

}